<p id="notice"><%= notice %></p>

<h1>Document Boxes</h1>

<table>
  <thead>
    <tr>
      <th>Document</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @document_boxes.each do |document_box| %>
      <tr>
        <td><%= document_box.document %></td>
        <td><%= link_to 'Show', document_box %></td>
        <td><%= link_to 'Edit', edit_document_box_path(document_box) %></td>
        <td><%= link_to 'Destroy', document_box, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document Box', new_document_box_path %>
